@using SPCPP.Model.Models
@model User
@{
    ViewData["Title"] = "Deletar Usuário";
}
<div class="text-center">
    <h3>Você deseja remover o usuário (@Model.Nome)?</h3>
    <br />
</div>

<a role="button" class="btn-primary btn-primary btn d-block" asp-action="Index" asp-controller="User">Cancelar exclusão </a>
</br>
<a role="button" class="btn btn-danger btn d-block" asp-action="DeletarConfirmacao" asp-controller="User" asp-route-id="@Model.Id">Confirmar exclusão</a>