@using SPCPP.Model.Enums
@using SPCPP.Model.Models
@model User
@{

    ViewData["Title"] = "Editar Perfil";
}

<div class="text-center">

    <h1 class=display-4>Editar Perfil</h1>

</div>

<form asp-controller="Perfil" asp-action="Editar" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Perfil" />
    <div class="form2Content">
    <div class="form-group">
        <label for="nome" class="form-label">Nome</label>
            <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do usuário" >
        @Html.ValidationMessageFor(p => p.Nome)
    </div>

    <div class="form-group">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Digite o e-mail do usuário">
        @Html.ValidationMessageFor(p => p.Email)
    </div>
    </div>
    <br />
    <div class="form2Content">
    <div class="form-group">
        <label for="nome" class="form-label">Login</label>
            <input type="text" asp-for="Login" class="form-control" placeholder="Digite o login do usuário" disabled>
        @Html.ValidationMessageFor(p => p.Login)
    </div>
    
    <div class="form-group">
        <label for="nome" class="form-label">Senha</label>
        <input type="password" asp-for="Senha" class="form-control" placeholder="Digite a senha do usuário">
        @Html.ValidationMessageFor(p => p.Senha)
    </div>
    </div>

     <div class="formfooter">
    <button type="submit" class="btn btn-primary">Editar</button>
    <a role="button" class="btn btn-secondary btn d-block" asp-controller="Home" asp-action="Index">Voltar</a>
    </div>

</form>