@using SPCPP.Model.Models
@model RedefinirSenhaModel
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Redefinir Senha";
}
@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

<section class="vh-75" style="margin-top: 150px">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form asp-controller="Login" asp-action="EnviarLinkParaRedefinirSenha" method="post">
                    <h1 class="log-in-title title ng-binding" style="margin-bottom: 30px;">Alterar palavra-chave</h1>
                    <div class="mb-3">
                        <input type="text" asp-for="Login" class="form-control form-control-lg" id="login" placeholder="Login" />

                        @Html.ValidationMessageFor(p => p.Login)
                    </div>
                    <div class="mb-3">

                        <input type="text" asp-for="Email" class="form-control form-control-lg" id="email" placeholder="Email" />

                        @Html.ValidationMessageFor(p => p.Email)
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem; border-radius: 30px;">
                            Redefinir Senha
                        </button>
                        <button type="submit" class="btn btn-secondary btn-lg" asp-action="Index" asp-controller="Login"
                                style="padding-left: 2.5rem; padding-right: 2.5rem; border-radius: 30px;">
                            Voltar
                        </button> 
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>
