<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SPCPP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SPCPP.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.css"/>
 
</head>
<body style="background-color: rgb(246,246,246);">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background-color: #087FE7;">
            <div class="container-fluid header-ajust">
                
                    <a id="logo" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/imagens/logologado.png" alt="Logo UFU" style="width: 175px; height: 90px;">
                
                        <p style="font-size:12px">
                            Universidade Federal de Uberlândia 
                        </p>
                    </a>
               
                
                
                @if (ViewBag.Logado != null)
                {
                    <a class="navbar-brand " asp-area="" asp-controller="Login" asp-action="Index">LOGIN</a>
                }
                else
                {
                    <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index">SPCPP - INÍCIO</a>
                }
                
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" >
        <div class="container" >
            <p style="color:rgb(246,246,246); ">&copy; @DateTime.Now.Year - Sistema de Cadastro de Professores na Pós Graduação </p>
            
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>