<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SPCPP.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/PagedList.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SPCPP.Web.styles.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    @*Import do upload xml *@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
    <header>
        <div class="sidenav">
            <a id="logologado" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/imagens/logologado.png" alt="Logo UFU logado" style="width: 150px; height: 125px; ">
            </a>
            <a id="inicio" asp-area="" asp-controller="Home" asp-action="Index">UFU - SPCPP</a>
            @if (ViewBag.Perfil == SPCPP.Model.Enums.PerfilEnum.Admin || ViewBag.Perfil == SPCPP.Model.Enums.PerfilEnum.Avaliador)
            {
                <a class="" asp-area="" asp-controller="Professor" asp-action="Index">PROFESSOR</a>
            }

            
            <a class="" asp-area="" asp-controller="Posgraduacao" asp-action="Index">POSGRADUAÇÃO</a>
            @if (ViewBag.Perfil == SPCPP.Model.Enums.PerfilEnum.Admin)
            {

                <a class="" asp-area="" asp-controller="User" asp-action="Index">USUÁRIOS</a>
            }
            <button class="dropdown-btn">
                PERFIL
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a id="perfil" class="" asp-area="" asp-controller="Perfil" asp-action="Editar">EDITAR MEU PERFIL</a>
                 <a class="" asp-area="" asp-controller="Login" asp-action="Sair">SAIR</a>
            </div>      
        </div>
    </header>

        <div class="container">
        <main role="main" class="pb-3" style="margin-top:50px;">
                @RenderBody()
            </main>
        </div>

    <footer class="border-top text-muted">
        <div class="container">
            <p style="color:rgb(246,246,246); ">&copy; @DateTime.Now.Year - Sistema de Cadastro de Professores na Pós Graduação </p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
   
    
    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }

        $(function () {
            $('form').each(function () {
                $(this).find('input').keypress(function (e) {
                    // Enter pressed?
                    if (e.which == 10 || e.which == 13) {
                        this.form.submit();
                    }
                });

                $(this).find('input[type=submit]').hide();
            });
        });
    </script>

   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
